.hidden-content {
    margin-top: 255px;
}

.container-grid-one-column {
    grid-template-columns: repeat(1, 1fr);
}

.container-flex-row {
    display: flex;
    flex-flow: row wrap;
}

.container-flex-column {
    display: flex;
    flex-flow: column wrap;
}

.grayscale {
    filter: grayscale(90%);
}
