@use "sass:color";

:root {
  font-synthesis: style weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin break-anywhere {
  word-break: break-all;
  overflow-wrap: anywhere;
  line-break: anywhere;
}

.footer-col {
  .u-email,
  .username {
    @include break-anywhere;
  }
}

.post-content {
  code.language-plaintext:not(pre > *) {
    @include break-anywhere;
  }
}

.break-anywhere {
  @include break-anywhere;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul.post-tags-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;

  > li {
    border: thin solid $grey-color;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    font-size: $small-font-size;
    background-color: $background-color;
    > a {
      color: inherit;
      text-decoration: none;
      user-select: none;
      font: inherit;
    }
  }

  > li:hover {
    background-color: color.adjust($background-color, $lightness: -15%);
  }
}

ul.post-list {
  > li {
    > h3 {
      margin: 0;
    }
    .post-excerpt {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

a {
  overflow-wrap: break-word;
}

details {
  border-top: 1px solid $grey-color;
  border-bottom: 1px solid $grey-color;
  padding: 0.5em 0.5em 0;

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    user-select: none;
  }

  &[open] {
    padding: 0.5em;

    summary {
      border-bottom: 1px dashed $grey-color;
      margin-bottom: 0.5em;
    }
  }
}

abbr {
  position: relative;
  text-decoration: underline dotted;
  cursor: help;

  &::after {
    content: attr(title);
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;

    position: absolute;

    box-sizing: border-box;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 0.2rem));
    padding: 0.2rem 0.5rem;

    background: color.invert($background-color);
    color: color.invert($text-color);
    border-radius: 0.3rem;
    border: 0.1rem solid color.invert($text-color);

    display: none;

    z-index: 100;
  }

  &:hover {
    &::after {
      display: block;
    }
  }
}

.table-wrapper {
  overflow-x: auto;
}

@import "fonts/all";
