@mixin break-anywhere {
  word-break: break-all;
  line-break: anywhere;
}

.footer-col {
  .u-email,
  .username {
    @include break-anywhere;
  }
}

.post-content {
  code.language-plaintext:not(pre > *) {
    @include break-anywhere;
  }
}

.break-anywhere {
  @include break-anywhere;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@import "fonts/all";
