@font-face {
    font-family: 'WenyueType GutiFangsong (Noncommercial Use)';
    src: url('WenyueTypeGutiFangsong.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

