.no-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.bordered-with-fieldset>fieldset {
    border-color: #000000;
}

.bordered-with-fieldset>fieldset>legend {
    font-size: 14pt;
}

#div-under-construction-banner {
    padding: 25px 20px 0 20px;
    background: #f1f1f1;
}

#div-under-construction-cap>h2 {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-size: x-large;
    color: rgb(102, 102, 102);
}

#pre-user-agent {
    color: rgb(165, 165, 165);
    font-size: 6pt;
}

#h2-deprecated-banner {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#img-barrier {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #DEDCDB;
}

#span-random-quote {
    display: block;
    margin: 5px 0 0 0;
    word-break: break-word;
    font-size: 1.5em;
    font-family: Georgia, serif;
    color: #000;
}

/* Do the javascript's width adjusting jobs by CSS */
img {
    max-width: 740px;
}

/* These are for grids */
.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: min-content;
    grid-auto-columns: min-content;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-row-2 {
    grid-row: 2;
}

.grid-row-3 {
    grid-row: 3;
}

.grid-row-4 {
    grid-row: 4;
}

.grid-row-5 {
    grid-row: 5;
}

.grid-row-stretch {
    grid-column: 1 / -1;
}

/* These are for flexbox modeling */
.container-flex {
    display: flex;
    flex-flow: row wrap;
}

/* These are for better image display */
figure.gallery-fig {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figure.gallery-fig>figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/* Really simple non-jQuery sliders */
.slider {
    max-width: 800px;
    margin: 30px auto 0;
    padding: 30px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.slider__images {
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    list-style-type: none;
    -webkit-transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
    transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
}

.slider__images.loaded {
    opacity: 1;
    visibility: visible;
}

.slider__images-item {
    position: absolute;
    top: 0;
    left: 0;
}

.no-js .slider__images-item:first-of-type {
    position: relative;
}

.no-js .slider__images-item:not(:first-of-type) {
    display: none !important;
}

.slider__images-image {
    display: block;
}

.slider__controls {
    margin-top: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.slider__control {
    display: inline-block;
    color: #829995;
    cursor: pointer;
}

.slider__control--prev {
    margin-right: 10px;
    border-radius: 3px;
    color: #333;
}

.slider__control--next {
    margin-left: 10px;
    border-radius: 3px;
    color: #333;
}

.slider__pagers {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider__pagers button {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    color: #829995;
    border-radius: 3px;
    padding: 0 10px;
}

.slider__pagers button.active {
    color: #333;
}

/* droppers */
:root {
    --main-color: #e6098b;
    --bg-color: #fff;
}

#div-dropper-container {
    background-color: var(--bg-color);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    position: relative;
}

#div-dropper-container>svg {
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.liquid {
    fill: var(--main-color);
}

#bubbleGroup {
    stroke: var(--main-color);
    fill: #222932;
}

.poly {
    fill: #3a86ff;
}

.glass {
    opacity: 1;
}

#flask {
    opacity: 1;
}

#canvas-dropper-confetti {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}