---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title | smartify | escape }}</h1>
  {%- endif -%}
  <section id="section-content-index">
    {{- content -}}
  </section>
  {%- if site.posts.size > 0 -%}
    <section id="section-recent-posts">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- assign recent_30_posts = site.posts | slice: 0, 30 -%}
        {%- for post in recent_30_posts -%}
        <li>
          <span class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ post.date | date: date_format }}
            </time>
          </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | smartify | escape }}
            </a>
          </h3>
          {%- include post-tags-list.html page_object=post -%}
          {%- if site.show_excerpts -%}
            <p class="post-excerpt">
              {%- if post.description -%}
                {{- post.description | smartify | escape -}}
              {%- else -%}
                {{- post.content | strip_html | smartify | smart_truncate_words: 100 -}}
              {%- endif -%}
            </p>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </section>
    <section>
      <div>
        <p><a href="{% link posts.html %}">See all posts</a> | <a href="{% link tags.html %}">See all post tags</a></p>
        <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>
    </section>
  {%- endif -%}
</div>