---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <section id="section-content-index">
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}
    <section id="section-posts">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          <span class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ post.date | date: date_format }}
            </time>
          </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <ul class="post-tags-list">
            {%- for tag in post.tags -%}
              {%- assign tag_is_primary = tag | start_with: 'topic:' -%}
              {%- if tag_is_primary -%}
                <li class="primary">
                  <span>{{ tag | split: ':' | last }}</span>
                </li>
              {%- else -%}
                <li>
                  <span>{{ tag }}</span>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
          {%- if site.show_excerpts -%}
            <p class="post-excerpt">
              {{ post.content | strip_html | truncate: 250 }}
            </p>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </section>

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
