$font-styles: (
  "Normal": normal,
  "Italic": italic
);

@each $style-name, $style-value in $font-styles {
  @font-face {
    font-family: "Cascadia Code VF";
    font-weight: 200 900;
    font-style: $style-value;
    font-stretch: normal;
    font-display: swap;
    src: url("/assets/fonts/CascadiaCode-2407.24/#{$style-name}.woff2") format("woff2-variations"),
      url("/assets/fonts/CascadiaCode-2407.24/#{$style-name}.ttf") format("truetype-variations");
  }
}
