$font-wght: (
  "ExtraLight": 200,
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
  "ExtraBold": 800,
);

@each $wght-name, $wght-value in $font-wght {
  @font-face {
    font-family: "Source Han Sans CN";
    font-style: normal;
    font-weight: $wght-value;
    font-display: swap;
    src: url("/assets/fonts/SourceHanSansCN-static-2.005R/SourceHanSansCN-#{$wght-name}.otf")
      format("opentype");
    /*
     * CJK Unified Ideographs
     * CJK Unified Ideographs Extension A
     * CJK Unified Ideographs Extension B
     * CJK Unified Ideographs Extension C
     * CJK Unified Ideographs Extension D
     * CJK Unified Ideographs Extension E
     * CJK Compatibility Ideographs
     * CJK Compatibility Ideographs Supplement
     * Bopomofo
     * Bopomofo Extended
     */
    unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B73F,
      U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF, U+2F800-2FA1F, U+3100-312F,
      U+31A0-31BF;
  }
}
