@font-face {
  font-family: "Source Han Sans CN VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("/assets/fonts/SourceHanSansCN-VF-2.004R/Normal.ttf.woff2") format("woff2-variations"),
    url("/assets/fonts/SourceHanSansCN-VF-2.004R/Normal.ttf") format("truetype-variations");
}
